/*Author: Dylan Parson
    Date: Feb 24, 2021
    Purpose: Library app, user can enter information for books they would like to store
             user can view all books entered, and delete books-
*/
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: "New Tegomin", serif;
}
h1{
  text-align: center;
}
#newBookForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.formItems {
  margin-top: 3%;
  width: 100%;
}
#submit {
  background-color: #a5f397;
  font-size: 2em;
  width: 50%;
  align-self: center;
}
#clear{ 
  background-color: #f60808;
  font-size: 2em;
  width: 50%;
  align-self: center;
}

#books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}
#clear{

}
.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: solid #614729;
  background-color: #f1cba0;
}
.bookCard tr {
  text-align: center;
  margin: 0.5em;
  width: 100%;
}
.bookCard button {
  margin: 0.5em;
  width: 60%;
}

.finished {
  background-color: #aaffaa;
}
.notFinished {
  background-color: #fa9595;
}
.delete {
  background-color: #e72727f5;
  color: #fff;
}

@media (max-width: 650px) {
  #newBookForm {
    width: 100%;

  }
  #books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
    grid-column-gap: 2%;
    grid-row-gap: 2%;
  }
  .bookCard{
    margin-top: 5%;
  }
}
